<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="" />
    <add key="Scope" value="http://api.microsofttranslator.com" />
    <add key="AzureDatamarketAccessUri" value="https://datamarket.accesscontrol.windows.net/v2/OAuth2-13" />
    <add key="MsTransaltorApiUri" value="http://api.microsofttranslator.com/v2/Http.svc/" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>